@model WarSpot.WebFace.Models.GameModel

@{
}

<h3>@Html.DisplayForModel(Model)</h3>
<div class="editor-label">@Html.LabelFor(m => m.Id)</div>
<div class="editor-label">@Html.DisplayFor(m => m.Id)</div>
<div class="editor-label">@Html.LabelFor(m => m.Replay)</div>
<div class="editor-label">@Html.DisplayFor(m => m.Replay)</div>
<p>@Html.ActionLink("Скачать", "")</p>
<!--
	Проиграть 
  -->