@using WarSpot.WebFace.Security
@model WarSpot.WebFace.Models.GameModel
<div class="editor-label">
  <b>@Html.LabelFor(m => m.Name)</b></div>
<div class="editor-field">@Html.DisplayFor(m => m.Name)</div>
@if ((User.Identity as CustomIdentity).IsInRole("Developer"))
{
  <div class="editor-label">
    <b>@Html.LabelFor(m => m.Id)</b></div>
  <div class="editor-field">@Html.DisplayFor(m => m.Id)</div>
  <div class="editor-label">
    <b>@Html.LabelFor(m => m.Replay)</b></div>
  <div class="editor-field">@Html.DisplayFor(m => m.Replay)</div>
}
<div class="editor-label">
  <b>@Html.LabelFor(m => m.Intellects)</b></div>
<ul>
  @foreach (var i in Model.Intellects)
  {
    <li>
      @i </li>
  }
</ul>
<p>
</p>
<div class="editor-label">@Html.ActionLink("Скачать", "Download", new { id = Model.Id })</div>
@if ((User.Identity as CustomIdentity).IsInRole("Developer"))
{
  <div class="editor-label">@Html.ActionLink("Просмотреть", "Play", new { id = Model.Id })</div>
}
<!--
	 
  -->
