<ul>
	<li>@Html.ActionLink("AboutRU", "About")
	</li>
	<li>@Html.ActionLink("EULA", "EULA")	</li>
	<li>@Html.ActionLink("SmallGuide", "SmallGuide")	</li>
	<li>@Html.ActionLink("Rules", "Rules")	</li>
	<li>@Html.ActionLink("WorldDescription", "WorldDescription")	</li>
	<li>@Html.ActionLink("GameActionsFullDescription", "GameActionsFullDescription")	</li>
 </ul>
