@model WarSpot.WebFace.Models.Tournament
@{
  ViewBag.Title = "Новый турнир";
}
<h2>
  Создание турнира</h2>
@using (Html.BeginForm())
{
  <div>
		<fieldset>
			@Html.HiddenFor(m => m.ID)
			<div class="editor-label">@Html.LabelFor(m => m.TournamentName)</div>
			<div class="editor-field">@Html.EditorFor(m => m.TournamentName)</div>
			<div class="editor-label">@Html.LabelFor(m => m.Description)</div>
			<div class="editor-field">@Html.EditorFor(m => m.Description)</div>
			<div class="editor-label">@Html.LabelFor(m => m.StartTime)</div>
			<div class="editor-field">@Html.EditorFor(m => m.StartTime)</div>
			<div class="editor-label">@Html.LabelFor(m => m.MaxPlayers)</div>
			<div class="editor-field">@Html.EditorFor(m => m.MaxPlayers)</div>
			<div class="editor-label">@Html.LabelFor(m => m.StagesCount)</div>
			<div class="editor-field">@Html.EditorFor(m => m.StagesCount)</div>
			<div class="editor-label">
				<input type="submit" value="Создать турнир" />
			</div>
		</fieldset>
  </div>
}
