@model WarSpot.WebFace.Models.Tournament

//
<div>
	<div class="display-label">@Html.LabelFor(m => m.TournamentName)</div>
	<div class="display-field">@Html.DisplayFor(m => m.TournamentName)</div>
	<div class="display-label">@Html.LabelFor(m => m.Players)</div>
	<div class="display-field">
		<table>@foreach(var p in Model.Players){<tr><td>@p</td></tr>}</table>
	</div>
  @if(Model.IsIn)
	{
    using (Html.BeginForm("UpdateAI", "Tournament"))
    {
      // need loop on stages
      var intellects = ViewData["intellects"] as List<KeyValuePair<Guid, string>>;
			Html.Hidden("tournamentId", Model.ID);
		 	
	  <div class="display-label">Участвующий интеллект</div>
		<div class="display-field">
			@if (intellects != null)
			{
				@Html.DropDownList("intellect01" /* need counter*/, intellects.Select(i => new SelectListItem()
				                                                               	{
				                                                               		Text = i.Value,
				                                                               		Value = i.Key.ToString()
				                                                               	}))
			}


		</div>
		 }
	<div class="editor-label">@Html.ActionLink("Покинуть турнир", "Join", new[] { Model.ID })</div>
  }
  else
  {
	<div class="editor-label">@Html.ActionLink("Принять участие", "Join", new[] { Model.ID })</div>
  }
</div>