<ul>
	<li>@Html.ActionLink("Описание проекта", "About")</li>
	<li>@Html.ActionLink("EULA", "EULA")</li>
	<li>@Html.ActionLink("Краткое руководство", "SmallGuide")	</li>
	<li>@Html.ActionLink("Правила", "Rules")	</li>
	<li>@Html.ActionLink("Описание \"мира\" игры", "WorldDescription")	</li>
	<li>@Html.ActionLink("Описание возможных действия существа", "GameActionsFullDescription")	</li>
	<li>@Html.ActionLink("Турниры", "Tournaments")	</li>
 </ul>
